* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.container-1 img {
    width: 85px;
    height: 85px;
    object-fit: cover;
    border-radius: 50%;

    margin: 60px 0 0 0;
}

.container-1 h1 {
    font-size: 21px;
    font-weight: 600;
    line-height: 1;
    margin-top: 11px;
}

.container-1 p {
    font-size: 14px;
    font-weight: 300;
    color: #A5A5A5;
    line-height: 1;
    margin-top: 7px;
}

.container-2 {
    display: flex;
    align-items: center;
    gap: 15px;
}

.container-2 img {
    background: transparent;
    border-radius: 50%;
    box-shadow: 3px 6px 20px 0 rgba(0, 0, 0, 0.30);
    margin-top: 11px;

    transition: .3s;
}

.container-2 img:hover {
    transform: scale(1.2);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 0 auto;

}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 60px;

    gap: 20px;
}

.link {
    color: #000;
    background-color: #eee;
    box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);

    text-align: center;

    border-radius: 22px;
    font-size: 16px;
    font-weight: 300;

    width: 40vw;
    padding: 20px;

    transition: .3s;
}

.link:hover {
    transform: scaleX(1.1);
}

@media (max-width: 700px){
    .link {
        width: 80vw;
    }
}